/*Variables*/

$transition-main: 1.5s;

.home-main {
  display: block;
}

.home-wrapper.container {
  padding: 0;
}

.home-row {
  background: $color-light;
  height: 140px;
  text-align: center;
  align-items: center;
  display: inline-flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
}

.row {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-row h1 {
  color: white;
  margin: auto;
  font-family: $font-header;
  font-size: 26px;
}

.home-row p {
  display: block;
  color: white;
  margin: auto;
  font-family: $font-text;
  font-size: 14px;
}

/*Home-order*/

.home-order {
  background-image: url("../images/home/pizza-1.jpg");
  background-size: cover;
  align-content: center;
  text-align: center;
  height: 120px;
  width: 50%;
  padding: 5px;
  border-radius: 5px;
  margin-right: 2.5px;
  margin-left: 50px;

  a:link {
    text-decoration: none;
  }

  h1 {
    font-size: 26px;
    font-weight: $font-header;
    align-content: space-between;
    justify-content: center;
    margin: 35px;

    .home-order p {
      font-size: 14px;
      transform: translateY(-55%);
      transition: $transition-main;
    }
  }
}

.home-order:hover h1 {
  transform: translateY(-45%);
  transition: $transition-main;
  margin-bottom: 0;

}

.home-order:hover p {
  font-size: 14px;
  transform: translateY(-55%);
  transition: $transition-main;
  margin: 0;
}

/*Book-a-table*/

.book-a-table {
  background-image: url("../images/home/pizza-2.jpg");
  background-size: auto;
  display: inline-flex;
  height: 120px;
  width: 50%;
  padding: 5px;
  border-radius: 5px;
  margin-left: 2.5px;
  margin-right: 50px;

  a:link {
    text-decoration: none;
  }

  h1:hover {
    transform: translateY(-45%);
    transition: $transition-main;
    outline: none;
  }
}

.home-opening-hours {
  background-color: #ff6b6b;
  display: inline-block;
  align-content: space-between;
  color: white;
  height: 120px;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  margin: 0 50px;
  padding: auto;

  h1 {
    font-size: 30px;
    padding-top: 20px;
  }
}

/*Pictues*/

.home-pictures {
  height: 200px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.home-pictures .row img {
  width: 220px;
  height: 190px;
  display: inline-flex;
  border-radius: 5px;
  object-fit: cover;
  opacity: 1;
}

/*Footer*/
.instagram {
  height: 100px;
  height: 120px;
  color: #ff6b6b;
  text-align: left;
  padding-top: 30px;
  padding-left: 5px;

  a {
    padding: 0;
  }

  p {
    color: #ff6b6b;
    margin: 0;
  }
}

/*Icons*/

.row ul {
  position: absolute;
  margin: 0;
  padding: 0;

  a i {
    color: white;
  }
}

.icons li {
  display: inline;
  list-style-type: none;
  margin: 10px;
}

.icons li a i {
  visibility: hidden;
}

.row img {
  pointer-events: none;

  &:hover {
    opacity: 0.8;
  }
}

.row {
  pointer-events: auto;

  .icons:hover li a i {
    visibility: visible;
    font-size: 30px;
    transition: $transition-main;
    color: white;

    &:hover {
      pointer-events: auto;
      color: $color-main;
    }
  }
}


/*Carousel*/

.main-carousel {
  width: 100%;
  height: 262px;
  margin: 100px 0px;
}

.carousel-cell {
  display: flex;
}

.carousel-cell img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}


.opinion {
  padding: 30px;
  color: black;
  font-family: $font-text;
  font-size: 14px;

  h2 {
    font-style: italic;
    font-size: 14px;
  }

  h4 {
    font-style: bold;
  }

  p {
    font-style: regular;
    color: black;
  }
}